* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0 auto;
    min-height: 300px;
    max-width: 450px;
    padding: 10px;
}

.massive {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    min-width: 230px;
    min-height: 60px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;

    font-weight: 600;
    font-size: 24px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px/8px;
    height: 35px;
    min-width: 140px;

    background-color: transparent;
    cursor: pointer;
    transition: .3s ease;
}

.button:hover {
    background-color: rgba(100,149,237,.4);
    border: 2px solid cornflowerblue;
}
